.login-card{
    margin: 50px 0;
}
.login-body{
    padding: 40px 50px;
}
.main-card{
    margin: 40px 150px;
}
.main-card .header-card{
    background-color: blue;
    padding: 40px 50px;
    border-radius: 10px;
    color: white;
}
.user-img{
    height: 100px;
    width: 100px;
}